body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #7c76f3, #05006b);
  }
  
  .app-container {
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background-color: #b9b9b9;
    box-shadow: 0 4px 10px rgba(251, 251, 251, 0.38);
    width: 500px;

  }
  
 
  
  .result-container {
    margin-bottom: 1.5rem;
    /* border: 1px solid ; */
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(204, 204, 204);

  }
  
  .result-task, .result-stack, .heading {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #333333;
  }

  .button-container {

    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .randomize-button, .reset-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .randomize-button
  {
    background-color: #763cfe;
  }
  
  .randomize-button:hover {
    background-color: #550efa;
    transform: scale(1.05);
  }
  
  .randomize-button:active {
    background-color: #003f66;
    transform: scale(1);
  }
  

  .reset-button
  {
    background-color: #c70017;
  }

.reset-button:hover {
    background-color: #a72c32;
    transform: scale(1.05);
  }
  
  .reset-button:active, .randomize-button:active {
    transform: scale(1);
  }

  .result-link{
    font-weight: bold;
    text-decoration-line: underline ;
    font-size: 1rem;
  }
  
  .result-link:hover {
    transform: scale(2);
  }

  .timer-container{
    margin-top: 20px
  }
  .time-duration{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  
  }
  .time-duration-button{
    background-color: #dfdfdf;
    color: black;
    cursor: pointer;
    outline: #007acc;

    &:hover{
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    &:focus{
      border: 1px solid #007acc;
    }
  
  }

  .result-container{
    height: 100px;
  }
